.DS_Store

.classpath.txt
target
.classpath
.project
.idea
.settings
.vscode
*.iml
cdk.context.json
config/
out/
dependency-reduced-pom.xml

# CDK asset staging directory
.cdk.staging
cdk.out

workdir/
out/
config
docs/build
*.iml
.idea/
.vscode/